<h6 class="teal-text lighten-1"> Please enter a Mad Lib in the following format (with parts of speech within brackets, e.g. {noun}):</h6>
<p class="blue-grey-text darken-2">"I {verb, past-tense} the {noun}. It was {adjective}."</p>

<%= form_for @mad_lib, url: {action: "create"} do |f| %>
<div class="input-field col s12">
  <%= f.label :text %>
  <%= f.text_field :text %>
</div>
  <div class="input-field col s12">
    <button class="btn waves-effect waves-light" type="submit" name="action">Create
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
