<ul>
<% @mad_libs_report.each do |label, count| %>
<li><%= label %>: <%= count %></li>
<%end%>
</ul>

<ul>
<% @solutions_report.each do |label, count| %>
<li><%= label %>: <%= count %></li>
<%end%>
</ul>
